// Level 1
.nav-list > .nav-list-item > .nav-list-link {
  //font-weight: 600;
}

// Level 2
.nav-list .nav-list > .nav-list-item > .nav-list-link {
  font-size: 0.95rem;
  background-color: #f3e8ff; /* light purple */
}

// Level 3
.nav-list .nav-list .nav-list > .nav-list-item > .nav-list-link {
  font-size: 0.9rem;
  opacity: 0.8;
  background-color: transparent; /* light purple */ 
}
// Active link background
.nav-list-link.active {
  background-color: #fef9c3; /* light yellow */
  background-image: None;
}
