# for KiCad 8

# Adapted from:
# https://gist.github.com/cowboy/71a35998640eb5a6c50680c979b35187

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
/build
*.lck
\#auto_saved_files#


# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Footprint association file (exported from Pcbnew)
*.cmp

# Exported BOM files
*.xml
*.csv
*.tsv

# Misc
*.log
*.raw
.svg2shenzhen-cache
